<footer class="footer text-center">
  &copy; Since 2016
   <!-- <div class="row">
    <div class="col-1 columna">1</div>
    <div class="col-1 columna">2</div>
    <div class="col-1 columna">3</div>
    <div class="col-1 columna">4</div>
    <div class="col-1 columna">5</div>
    <div class="col-1 columna">6</div>
    <div class="col-1 columna">7</div>
    <div class="col-1 columna">8</div>
    <div class="col-1 columna">9</div>
    <div class="col-1 columna">10</div>
    <div class="col-1 columna">11</div>
    <div class="col-1 columna">12</div>
  </div> -->
</footer>
