@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  background: #b5d7a8;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-toolbar {
  background-color: white;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: white;
  height: 30px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card {
  width: 90%;
  align-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  padding: 0% !important;
}

.mat-card-actions {
  padding: 0%;
  margin: 0% !important;
  margin-bottom: 0.5% !important;
}

.mat-tab-link {
  padding: 1px !important;
  min-width: 140px !important;
}

.mat-card-title {
  margin-top: 20%;
}

/* button color  primary*/
.mat-raised-button.mat-primary {
  background-color: #009846;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
/*   background-color: #3f51b5;
 */  background-color: #009846;
}
.mat-input-element {
  caret-color: #009846;
}
.mat-form-field.mat-focused .mat-form-field-label {
  color: #009846;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #009846;

}
.mat-calendar-body-selected {
  background-color: #009846;
  color: white;
}
.mat-datepicker-toggle-active {
  color: #009846;
}
/* 
.mat-raised-button.mat-accent {
  background-color: #009846;

} */