@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-material.css";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "assets/styles/variables.scss";

html,
body {
  height: 100%;
  background: $bodyColor;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar {
  background-color: white;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: white;
  height: 30px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card {
  width: 90%;
  align-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  padding: 0% !important;
}

.mat-card-actions {
  padding: 0%;
  margin: 0% !important;
  margin-bottom: 0.5% !important;
}

.mat-tab-link {
  padding: 1px !important;
  min-width: 140px !important;
}

.mat-card-title {
  margin-top: 20%;
}

/* button color  primary*/
.mat-raised-button.mat-primary {
  background-color: $primaryColor;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  /*   background-color: #3f51b5;
 */
  background-color: $primaryColor;
}

.mat-input-element {
  caret-color: $primaryColor;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: $primaryColor;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $primaryColor;
}

.mat-calendar-body-selected {
  background-color: $primaryColor;
  color: white;
}

.mat-datepicker-toggle-active {
  color: $primaryColor;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: $primaryColor;
}

a:hover {
  color: $primaryColor;
}

.mat-card-footer > .mat-card-actions {
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

.mat-progress-bar-fill::after {
  background-color: $primaryColor;
}

button:focus {
  outline-color: $backgroundColor;
}

.swal2-styled.swal2-confirm {
  background-color: $primaryColor !important;
}
/* 
.mat-raised-button.mat-accent {
  background-color: $primaryColor;

} */
/* $primaryColor principal
#B5D7A8 fondo
*/
.m-l-5 {
  margin-left: 5px !important;
}

mat-card {
  color: $primaryColor;
}

.ag-grid {
  width: 100% !important;
  height: 755px !important;
  min-height: 500px !important;
}