<mat-card>
  <mat-card-header>
    <img matCardAvatar src="Avatar source">
    <mat-card-title>Title</mat-card-title>
    <mat-card-subtitle>Subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Text content
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio tempore enim corporis. Repellendus enim mollitia minima nisi nihil! Vero, nam? Dolore, obcaecati! Aspernatur veniam laudantium blanditiis optio reiciendis necessitatibus nisi.
    Nesciunt commodi, autem excepturi velit iure beatae dolorem soluta vitae ut! Repellendus voluptatum eligendi voluptas reprehenderit dolores sint saepe quaerat recusandae libero non! Itaque delectus aperiam ut quam, beatae cumque?
    Accusamus vel, totam quas eligendi neque corporis in, itaque laudantium tempore quos odio blanditiis architecto! Nihil, quia eius. Soluta animi odio repellat vel deserunt, aliquid incidunt? Magni dolorem commodi voluptates.
    Quos, atque, necessitatibus perspiciatis totam consequatur commodi quia repellat tempore exercitationem, velit impedit? Beatae id fugit omnis neque exercitationem fugiat iure, dolores officia perspiciatis sit minima asperiores delectus ea ipsa?
    Eos laborum repellat vero eveniet, sint quam est, voluptate nisi, iusto incidunt tenetur. Fuga minima saepe aliquid, cum laborum rerum porro, officia magnam, nulla temporibus a rem dignissimos at ratione!
    Soluta, libero nulla. Aliquam voluptas aut tenetur, dolorem adipisci mollitia minima ullam illum incidunt laborum repellendus ea in rem corporis. Qui at rerum maiores animi velit ullam, provident dolor non.
    Quisquam consequuntur iste quidem, eius assumenda voluptatibus a. Dolore eum possimus adipisci voluptatum. Quisquam officiis aspernatur nesciunt excepturi! Quo a, magnam et dicta aliquid asperiores aut rem tempora fugiat provident!
    Voluptates officiis facere nam obcaecati non voluptas deserunt, consectetur ex, placeat eum fugiat, labore reiciendis accusantium fugit. Excepturi deserunt expedita cumque ab autem porro dicta modi tenetur quam! Est, iure!
    Obcaecati nostrum quo exercitationem veniam inventore enim itaque consectetur, mollitia consequuntur voluptatem accusamus fugit praesentium cumque quibusdam repellendus blanditiis dignissimos illo magnam ad. Porro alias architecto est saepe dolorum consequatur?
    Voluptate id earum omnis minus placeat quia nostrum amet incidunt a natus magnam, illo possimus nihil beatae voluptas dignissimos cupiditate, inventore facilis deserunt excepturi ut. Ullam impedit possimus nulla quibusdam!
    Inventore hic consequatur rerum aliquam reprehenderit omnis voluptates excepturi odit ducimus, fuga illo aliquid velit doloremque tenetur eos ut possimus quod dolorum! Expedita similique, mollitia est quasi reiciendis necessitatibus minus.
    Ex reiciendis consequatur quam quasi odit eum illo aperiam ullam doloribus dolores sit mollitia possimus ipsa ut perferendis facere, sapiente ab sequi explicabo accusantium qui. Quo repellat quam expedita earum.
    Magni, ducimus suscipit, quo laudantium neque similique veritatis corporis fuga necessitatibus reprehenderit, obcaecati itaque reiciendis voluptates! Ad non autem neque dicta reprehenderit id optio quos. Nisi repellat iusto optio deleniti.
    Recusandae expedita pariatur odio deleniti molestias iste minus laboriosam assumenda, corrupti quidem ipsam optio, fugit rerum, laborum praesentium distinctio. Sapiente unde vero non corrupti aliquam maiores ab cum voluptatem voluptate.
    Sunt totam unde aspernatur repudiandae perspiciatis, dolor sapiente ut itaque culpa numquam officiis. Voluptas repellat soluta mollitia ad omnis, eos vel! Fugit excepturi velit in eos libero. Excepturi, exercitationem expedita.
    Culpa cumque, repellendus, deleniti cupiditate necessitatibus rem quasi tempora sed recusandae delectus ut ea odit eveniet vel fugiat iusto temporibus possimus architecto perspiciatis doloribus nulla incidunt nam ipsa quibusdam. Molestias!
    Non neque facilis voluptatem consequuntur laudantium voluptates praesentium suscipit sequi accusamus impedit nisi assumenda fugit odio officia quasi soluta tempora ratione adipisci, saepe cumque omnis dolorem reprehenderit atque numquam? Explicabo!
    Esse nemo illum eligendi voluptatibus dolor, cumque quas distinctio temporibus molestiae similique perferendis delectus voluptatum, veniam ratione earum ab minus, molestias et rerum! Minima, nulla possimus alias quaerat praesentium accusantium.
    Voluptate iure hic repudiandae, magnam rerum corporis accusantium eum nesciunt, similique voluptas, error aspernatur cumque. Quaerat sequi reprehenderit amet? Nisi earum eos deserunt quaerat sapiente. Quibusdam amet aliquam optio expedita?
    Sunt quidem quasi maiores molestias libero? Reiciendis repudiandae itaque sint sapiente porro ipsum iusto consectetur at explicabo expedita maxime, dicta libero voluptate tempora! Dolor necessitatibus expedita assumenda qui eaque repellat!

    <span class="paywall">
      change_historychange_historychange_historychange_hist
      orychange_historychange_historychange_historychange_historychange_historychange_historychange_historychange_historychange_historychange_historychange_historychange_historychange_historychange_historychange_ 
      historychange_historychange_historychange_historychange_history
      change_historychange_history
    </span>
  </mat-card-content>
  <mat-card-footer>
    Footer
  </mat-card-footer>
</mat-card>