<!-- <mat-tab-group animationDuration="0ms" [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
  <mat-tab *ngFor="let link of list; let i = index" [label]="[link]"></mat-tab>
</mat-tab-group> -->
<nav mat-tab-nav-bar animationDuration="0ms">
  <a mat-tab-link *ngFor="let link of navLinks"
    [routerLink]="link.path"
    routerLinkActive #rla='routerLinkActive'
    [active]="rla.isActive">
      <mat-icon [class]="link.icon" inline="true">{{link.label}}</mat-icon>
  </a>
</nav>

