<mat-card>
  <mat-card-header>
    <mat-card-title>Usuarios</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form>
      <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile>
          <mat-form-field rows:1 cols:1 class="example-full-width" rowHeight="100px">
            <mat-label>Nombre</mat-label>
            <input matInput #name maxlength="256" placeholder="Nombre">
            <mat-hint align="start"><strong>Requerido</strong> </mat-hint>
            <mat-hint align="end">{{name.value.length}} / 256</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field rows:1 cols:2 class="example-full-width" rowHeight="100px">
            <mat-label>Apellido</mat-label>
            <input matInput #lastname maxlength="256" placeholder="Apellido">
            <mat-hint align="start"><strong>Apellido</strong> </mat-hint>
            <mat-hint align="end">{{lastname.value.length}} / 256</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile rows:2 cols:1>
          <mat-form-field rows:2 cols:1 class="example-full-width" rowHeight="100px">
            <mat-label>Correo</mat-label>
            <input matInput #email maxlength="256" placeholder="xxx@xxx.com">
            <mat-hint align="start"><strong>Requerido</strong> </mat-hint>
            <mat-hint align="end">{{email.value.length}} / 256</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile rows:2 cols:2 class="example-full-width" rowHeight="100px">
          <mat-form-field>
            <mat-label>Número de teléfono</mat-label>
            <span matPrefix>+599 &nbsp;</span>
            <input matInput #phone type="tel" placeholder="981-123-123">
            <mat-hint align="start"><strong>Requerido</strong> </mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile rows:3 cols:1>
          <mat-form-field rows:2 cols:1 class="example-full-width" rowHeight="100px">
            <mat-label>Roles</mat-label>
            <mat-select multiple>
              <mat-option vallue="Admin">Administrador</mat-option>
              <mat-option vallue="Normal">Normal</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile rows:3 cols:2 class="example-full-width" rowHeight="100px">
          <mat-form-field>
            <mat-label>Fecha Nacimiento</mat-label>
            <input matInput #phone type="date">
            <mat-hint align="start"><strong>Requerido</strong> </mat-hint>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-card-footer>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="crear">Registrar</button>
          <button mat-raised-button color="warn">Cancelar</button>
        </mat-card-actions>
      </mat-card-footer>
    </form>
  </mat-card-content>
</mat-card>
