<mat-card>
  <mat-card-header>
    <mat-card-title class="col-1">Usuarios</mat-card-title>
    <app-navigation class="col-lg-6" [navigation]="singleton.getUserPath()" [actualPosition]="positionName"></app-navigation>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form (submit)="save()" [formGroup]="userForm">
      <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile>
          <mat-form-field rows:1 cols:1 class="example-full-width" rowHeight="100px">
            <mat-label>Nombre</mat-label>
            <input matInput #name maxlength="256" placeholder="Nombre" formControlName="name">
            <mat-hint align="end">{{name.value.length}} / 256</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field rows:1 cols:2 class="example-full-width" rowHeight="100px">
            <mat-label>Apellido</mat-label>
            <input matInput #lastname maxlength="256" placeholder="Apellido" formControlName="lastName">
            <mat-hint align="end">{{lastname.value.length}} / 256</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field rows:2 cols:1 class="example-full-width" rowHeight="100px">
            <mat-label>Correo</mat-label>
            <input matInput maxlength="100" placeholder="xxx@xxx.com" formControlName="email">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field rows:2 cols:2 class="example-full-width" rowHeight="100px">
            <mat-label>Documento</mat-label>
            <input matInput #document maxlength="15" placeholder="Documento" formControlName="document">
            <mat-hint align="end">{{document.value.length}} / 15</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field rows:3 cols:1 class="example-full-width" rowHeight="100px">
            <mat-label>Roles</mat-label>
            <mat-select multiple formControlName="rol">
              <mat-option vallue="Admin">Administrador</mat-option>
              <mat-option vallue="Normal">Normal</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field rows:3 cols:2 class="example-full-width" rowHeight="100px">
            <mat-label>Fecha Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field rows:4 cols:1 class="example-full-width" rowHeight="100px">
            <mat-label>Pais</mat-label>
            <mat-select multiple="false" formControlName="country">
              <mat-option [value]="c.key" *ngFor="let c of countryTypes | keyvalue">{{c.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-card-footer>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="close()">Cancelar</button>
          <button mat-raised-button color="primary" [disabled]="userForm.invalid">{{positionName}}</button>
        </mat-card-actions>
      </mat-card-footer>
    </form>
  </mat-card-content>
</mat-card>
