<mat-card>
  <mat-card-header>
    <mat-card-title>Colores</mat-card-title>
    <app-navigation [navigation]="pathService.getAdminPath()" [actualPosition]="'Colores'"></app-navigation>
    <span class="spacer"></span>
    <mat-card-actions>
      <button mat-stroked-button color="primary" routerLink="crear">
        <mat-icon class="fas fa-plus" inline="true">Agregar</mat-icon>
      </button>
      <button mat-stroked-button color="primary" [routerLink]="['modificar', selectedRow ? selectedRow.id: '']" [disabled]="!selectedRow">
        <mat-icon class="fas fa-edit" inline="true">Modificar</mat-icon>
      </button>
      <button mat-stroked-button color="primary" [disabled]="!selectedRow" (click)="remove()">
        <mat-icon class="fas fa-trash" inline="true">Eliminar</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <ag-grid-angular class="ag-theme-material ag-grid"
    [gridOptions]="gridOptions"
    (selectionChanged)="onSelectionChanged()">
    </ag-grid-angular>
  </mat-card-content>
</mat-card>