@import "../../../../assets/styles/variables.scss";

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  margin-top: 100px;
  height: 500px;
  border-radius: 40px;
  background: white;
  opacity: 0.85;
}

mat-card-header {
  justify-content: center;
  max-height: 200px;
  margin-top: 60px;
  margin-bottom: 20px;
}

mat-card-content {
  justify-content: center;
  height: 200px;
}

mat-form-field {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 10px;
  display: block;
  width: auto;
}

mat-icon {
  color: $primaryColor;
  font-size: 100px;
}

mat-icon ~ h2 {
  margin-top: 5px;
}

mat-card-title > mat-icon {
  height: auto;
  width: auto;
}

.mat-body {
  overflow-y: hidden !important;
}

.login-svg1 {
  height: 600px;
  position: absolute;
  z-index: 1;
  margin-left: 900px;
  transform: scale(1.7);
}

.login-svg2 {
  height: 600px;
  position: absolute;
  z-index: 1;
  margin-left: 250px;
  transform: scale(1.46);
  opacity: 85%;
}
